[submodule "plapack"]
	path = plapack
	url = ./plapack.git
[submodule "mumps"]
	path = mumps
	url = ./mumps.git
[submodule "parmetis"]
	path = parmetis
	url = ./parmetis.git
[submodule "scalapack"]
	path = scalapack
	url = ./scalapack.git
[submodule "suitesparse"]
	path = suitesparse
	url = ./suitesparse.git
[submodule "lapack"]
	path = lapack
	url = ./lapack.git
[submodule "hypre"]
	path = hypre
	url = ./hypre.git
[submodule "metis"]
	path = metis
	url = ./metis.git
[submodule "superlu"]
	path = superlu
	url = ./superlu.git
[submodule "superlu_dist"]
	path = superlu_dist
	url = ./superlu_dist.git
[submodule "sundials"]
	path = sundials
	url = ./sundials.git
[submodule "scotch"]
	path = scotch
	url = ./scotch.git
