[submodule "plapack"]
	path = plapack
	url = https://github.com/OpenCMISS-Dependencies/plapack.git
[submodule "mumps"]
	path = mumps
	url = https://github.com/OpenCMISS-Dependencies/mumps.git
[submodule "parmetis"]
	path = parmetis
	url = https://github.com/OpenCMISS-Dependencies/parmetis.git
[submodule "scalapack"]
	path = scalapack
	url = https://github.com/OpenCMISS-Dependencies/scalapack.git
[submodule "suitesparse"]
	path = suitesparse
	url = https://github.com/OpenCMISS-Dependencies/suitesparse.git
[submodule "lapack"]
	path = lapack
	url = https://github.com/OpenCMISS-Dependencies/lapack.git
[submodule "hypre"]
	path = hypre
	url = https://github.com/OpenCMISS-Dependencies/hypre.git
[submodule "superlu"]
	path = superlu
	url = https://github.com/OpenCMISS-Dependencies/superlu.git
[submodule "superlu_dist"]
	path = superlu_dist
	url = https://github.com/OpenCMISS-Dependencies/superlu_dist.git
[submodule "sundials"]
	path = sundials
	url = https://github.com/OpenCMISS-Dependencies/sundials.git
[submodule "scotch"]
	path = scotch
	url = https://github.com/OpenCMISS-Dependencies/scotch.git
[submodule "pastix"]
	path = pastix
	url = https://github.com/OpenCMISS-Dependencies/pastix.git
[submodule "petsc"]
	path = petsc
	url = https://github.com/OpenCMISS-Dependencies/petsc.git
[submodule "libcellml"]
	path = libcellml
	url = https://github.com/OpenCMISS-Dependencies/libcellml.git
