[submodule "plapack"]
	path = src/plapack
	url = https://github.com/OpenCMISS-Dependencies/plapack.git
[submodule "mumps"]
	path = src/mumps
	url = https://github.com/OpenCMISS-Dependencies/mumps.git
[submodule "parmetis"]
	path = src/parmetis
	url = https://github.com/OpenCMISS-Dependencies/parmetis.git
[submodule "scalapack"]
	path = src/scalapack
	url = https://github.com/OpenCMISS-Dependencies/scalapack.git
[submodule "suitesparse"]
	path = src/suitesparse
	url = https://github.com/OpenCMISS-Dependencies/suitesparse.git
[submodule "lapack"]
	path = src/lapack
	url = https://github.com/OpenCMISS-Dependencies/lapack.git
[submodule "hypre"]
	path = src/hypre
	url = https://github.com/OpenCMISS-Dependencies/hypre.git
[submodule "superlu"]
	path = src/superlu
	url = https://github.com/OpenCMISS-Dependencies/superlu.git
[submodule "superlu_dist"]
	path = src/superlu_dist
	url = https://github.com/OpenCMISS-Dependencies/superlu_dist.git
[submodule "sundials"]
	path = src/sundials
	url = https://github.com/OpenCMISS-Dependencies/sundials.git
[submodule "scotch"]
	path = src/scotch
	url = https://github.com/OpenCMISS-Dependencies/scotch.git
[submodule "pastix"]
	path = src/pastix
	url = https://github.com/OpenCMISS-Dependencies/pastix.git
[submodule "petsc"]
	path = src/petsc
	url = https://github.com/OpenCMISS-Dependencies/petsc.git
[submodule "libcellml"]
	path = src/libcellml
	url = https://github.com/OpenCMISS-Dependencies/libcellml.git
[submodule "slepc"]
	path = src/slepc
	url = https://github.com/OpenCMISS-Dependencies/slepc.git
[submodule "hdf5"]
	path = src/hdf5
	url = https://github.com/OpenCMISS-Dependencies/hdf5.git
[submodule "src/zlib"]
	path = src/zlib
	url = https://github.com/OpenCMISS-Dependencies/zlib.git
[submodule "src/wxWidgets"]
	path = src/wxWidgets
	url = https://github.com/OpenCMISS-Dependencies/wxWidgets.git
[submodule "src/tiff"]
	path = src/tiff
	url = https://github.com/OpenCMISS-Dependencies/tiff.git
[submodule "src/pcre"]
	path = src/pcre
	url = https://github.com/OpenCMISS-Dependencies/pcre.git
[submodule "src/optpp"]
	path = src/optpp
	url = https://github.com/OpenCMISS-Dependencies/optpp.git
[submodule "src/netgen"]
	path = src/netgen
	url = https://github.com/OpenCMISS-Dependencies/netgen.git
[submodule "src/libxml2"]
	path = src/libxml2
	url = https://github.com/OpenCMISS-Dependencies/libxml2.git
[submodule "src/libpng"]
	path = src/libpng
	url = https://github.com/OpenCMISS-Dependencies/libpng.git
